# Python template from GitHub
# See https://github.com/github/gitignore/blob/main/Python.gitignore

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
sdist/
var/
parts/
_build/
lib64/
EGG-INFO/
.installed.cfg
*.egg-info/
.DS_Store

# Pyinstaller
# See https://pyinstaller.org/en/stable/
*.spec
build/
dist/

# setuptools
.cache/

# temporary files
# see https://docs.python.org/3/library/tempfile.html#tempfile.TemporaryFile
/tmp/

# Terraform
.terraform/
.terraform.lock.hcl
*.tfvars

# State files
terraform.tfstate
terraform.tfstate.backup

# Private key
*.pem
